<h1 mat-dialog-title>Add New User</h1>
<div mat-dialog-content>
    
 
        
        <div id="add-user-form">
            <form #userForm="ngForm" (ngSubmit)="onSubmit()">
                
              <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" [(ngModel)]="userModel.firstName" name="firstName"  
                      placeholder="Enter First Name" 
                      required minlength="2"  #firstName="ngModel"
                      [class.is-invalid]="firstName.invalid && firstName.touched">
                      <div *ngIf="firstName.touched && firstName.errors">
                        <div class="alert alert-danger" *ngIf="firstName.errors.required ">First name is required!</div>
                        <div class="alert alert-danger" *ngIf="firstName.errors.minlength ">First name should be 2 characters!</div>
                    </div>
                </div>


                <div class="form-group" >
                  <label>Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="userModel.lastName" name="lastName"  
                    placeholder="Enter Last Name" 
                    required minlength="2"  #lastName="ngModel"
                    [class.is-invalid]="lastName.invalid && lastName.touched">
                    <div *ngIf="lastName.touched && lastName.errors">
                      <div class="alert alert-danger" *ngIf="lastName.errors.required ">Last name is required!</div>
                      <div class="alert alert-danger" *ngIf="lastName.errors.minlength ">Last name should be 2 characters!</div>
                  </div>
              </div>

              
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" [(ngModel)]="userModel.email" name="email"  
                  placeholder="Enter Email ID" 
                  required minlength="8"  #email="ngModel"
                  [class.is-invalid]="email.invalid && email.touched">
                  <div *ngIf="email.touched && email.errors">
                    <div class="alert alert-danger" *ngIf="email.errors.required ">Email is required!</div>
                    <div class="alert alert-danger" *ngIf="email.errors.minlength ">Email  should be 8 characters!</div>
                </div>
            </div>

            
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" [(ngModel)]="userModel.password" name="password"  
                placeholder="Enter your Password" 
                required minlength="8"  #password="ngModel" 
                [class.is-invalid]="password.invalid && password.touched">
                <div *ngIf="password.touched && password.errors">
                  <div class="alert alert-danger" *ngIf="password.errors.required ">Password is required!</div>
                  <div class="alert alert-danger" *ngIf="password.errors.minlength ">Password name should be 8 characters!</div>
                  
              </div>
          </div>

          <div class="form-group">
            <label>Role</label>
                <select class="form-control" [(ngModel)]="userModel.role" name="role"  
                required   #role="ngModel"
                [class.is-invalid]="role.invalid && role.touched">
                    <option  value="user">Select</option>
                  <option  value="admin">Admin</option>
                  <option value="user">User</option>
                </select>
                <div *ngIf="role.touched && role.errors">
                    <div class="alert alert-danger" *ngIf="role.errors.required ">Role is required!</div>

                </div>
            </div>


             
                    <div class="form-group"  mat-dialog-actions *ngIf="user">
                  <button mat-flat-button class="btn btn-warn form-control col-md-5"  mat-dialog-close="false" cdkFocusInitial>No</button>
                  <p class="col-md-2"></p>
                  <button  [disabled]="userForm.form.invalid" class="btn btn-primary form-control col-md-5">Submit</button>
                </div>

              </form>
            </div>
      
 
</div>