
<!--Navbar-->
<nav class=" sticky-top">
    <mat-toolbar color="primary" >
      <mat-toolbar-row>
    
        <h1 routerLink="/home">NGO</h1>
        <span class="menu-spacer"></span>
        <div class='ml-auto'>
          
          <button mat-button [matMenuTriggerFor]="menu" *ngIf="loginData"><mat-icon>account_circle</mat-icon> {{loginData.user.firstName}} {{loginData.user.lastName}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()">Log Out</button>
          </mat-menu>
        
        </div>
      </mat-toolbar-row>
    
    </mat-toolbar>
</nav>