.main{
    height: 100vh;
}
#donation-list{
    padding: 25px;
    float: left;
    width: 100%;
    height: 100vh;
}
#mat-success{
    background-color:  #4CAF50;
    color: white;
    float: right;
    width: 85px;
}
#list-of-donation-label{
    float: left;
}

#go-back-label{
    float: left;    
}

#empty-data{
    padding:  10px;
}