 
 <mat-nav-list> 

  <mat-list-item  routerLink="/admin-dashboard/user-list">
      <mat-icon>list</mat-icon>
      <span>User List</span>    
  </mat-list-item>
  
  <mat-list-item  routerLink="/admin-dashboard/donation-details">
      <mat-icon>list</mat-icon>
      <span>Donation Details</span>
  </mat-list-item>

  <mat-list-item  routerLink="/admin-dashboard/add-donation-type">
    <mat-icon>add</mat-icon>
    <span>Add Donation Type </span>
</mat-list-item>
<mat-list-item  routerLink="/admin-dashboard/donationType-list">
    <mat-icon>list</mat-icon>
    <span>Donation Type list</span>
</mat-list-item>


</mat-nav-list>  
