.main{
    height: 100vh;
}
#donation-type-list{
    padding: 25px;
    float: left;
    width: 100%;
    height: 100vh;
}
#mat-success{
    background-color:  #4CAF50;
    color: white;
    text-align: center;
}
#add-donation-type-form{
    padding: 0px;
    text-align: right;
}
#list-of-donation-type-label{
    float: left;
}
#donation-type-list-details{
    padding-top: 50px;
}

#go-back-label{
    float: left;    
}

#empty-data{
    padding:  10px;
}