
<!--Navbar-->
<nav class=" sticky-top">
    <mat-toolbar color="primary" >
      <mat-toolbar-row>
    
        <h1 routerLink="/home">NGO</h1>
        <span class="menu-spacer"></span>
        <div class='ml-auto'>
          
          <button mat-button  routerLink="/home"> Home </button>
          <button mat-button routerLink="/registration" > Registration </button>
          <button mat-button routerLink="/login" >Log In</button>
        </div>
      </mat-toolbar-row>
    
    </mat-toolbar>
</nav>